{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        a
        {
            color: black;
            font-size: large;
        }
        .button 
        {
          background-color: #4CAF50; /* Green */
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
        }
    </style>
</head>
<body style="background-image :url(books3.jpg); background-repeat:no-repear;background-size:100;">
   <center>
        <h1 style="color: cyan ;">
            Main page </h1>
        <br>
        <p>
         <h3>welcome to bus booking</h3>
        </p>
       
         <button><a href="accounts/register">signup</a></button><br>
         <button><a href="accounts/login">login</a></button><br>
         
        
    </center>
</body>
</html>